<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="styles/profile.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <!-- background:linear-gradient(0deg, rgb(204, 204, 204),rgb(255, 255, 255)) -->
  <body >
     
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <img src ="images/applogo (1).png" height="50" width="50">
        <a class="navbar-brand" href="#">Social Influencer</a>
       
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">-
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link " href="home"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link active" href="profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="notification">Notification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="search">Search</a>
            </li>
          </ul>
        </div>
      </nav>
      <div>
    <img src="images/pic.png" class="img" alt="none" width="100%" height="50%">
    <image src="images/profile.png" class="rounded-circle img-responsive image-profile " alt="image src not correct" style="width:15%"/>
      </div><br>  
      <div class="row mb-5" style="color:rgb(34, 34, 34);">
     
        <div class=" col-3 text-center">
          <h4>Thrinath</h4>
          <h6>Online</h6>
          <h6>Male</h6>
        </div>

        <div class="col-3 text-center">
          <h3>Total Earnings</h3>
          <h5>₹ 3000</h5>
        </div>

        <div class="col-3 text-center">
          <h3>Category</h3>
           <div class="row mt-1"> 
                <div class="col-4">
                  <h5>Category 1</h4>
                </div>
                <div class="col-4">
                  <h5>Category 2</h4>
                </div> 
                <div class="col-4">
                  <h5>Category 3</h4>
                </div>
           </div>
        </div>



        <div class="col-3 text-center">
            <!-- <div class="col-4"> -->
              <h3>Budget</h3>
              <h5>2k-3k</h5>
        </div>
          </div>
        </div>
      </div>
      
      <div class="container mb-4 text-center"style="background:linear-gradient(0deg, ,rgb(255, 255, 255))" >
        <div class="row ml-1">
        
          <h4>Instagram</h4>
        </div>
        <div class="row text-center text-md-left">
          
          <div class="col-md-2 col-sm-2 imagecol">
            <img src="images/instagram.png" class="img-fluid rounded-circle w-75  " alt="">
          </div>
          <div class="mt-1 col-md-2 text-center">
    
          </div>
          <div class="mt-1 col-md-2 text-center">
           <h5>Followers</h5>
           <h3>2000</h3>
          </div>
          <div class="mt-1 col-md-2 text-center">
            <h5>Following</h5>
            <h3>2000</h3>
           </div>
           <div class="mt-1 col-md-2 text-center">
            <h5>Post</h5>
            <h3>2000</h3>
           </div>
           <div class="mt-1 col-md-2 text-center">
            <h5>Engagement</h5>
            <h3>30%</h3>
           </div>
        </div> 
</div>

<div class="container mb-4 text-center" >
  <div class="row  ml-1">
    <h4>Youtube</h4>
  </div>
  <div class="row text-center text-md-left">
    
    <div class="col-md-2 col-sm-2 imagecol">
      <img src="images/youtube.png" class="img-fluid rounded-circle w-75  " alt="">
    </div>
    <div class="mt-3 col-md-2 text-center">
    
    </div>
    <div class="mt-1 col-md-2 text-center">
     <h5>Subscribers</h5>
     <h3>2000</h3>
    </div>
    
    <div class="mt-1 col-md-2 text-center">
      <h5>Watch Hours</h5>
      <h3>2000</h3>
     </div>
     <div class="mt-1 col-md-2 text-center">
      <h5>Influencers</h5>
      <h3>2000</h3>
     </div>
     <div class="mt-1 col-md-2 text-center">
      <h5>Clicks</h5>
      <h3>30%</h3>
     </div>
  </div> 
</div>
<div class="container mb-5 text-center " >
  <div class="row ml-1" >
    <h4>Facebook</h4>
  </div>
  <div class="row text-center text-md-left" >
    <div class="col-md-2 col-sm-2 imagecol">
    <img src="images/facebook.png" class="img-fluid rounded-circle w-75  " alt="">
    </div>
    <div class="mt-1 col-md-2 text-center">
    </div>
    <div class="mt-1 col-md-2 text-center">
     <h5>Followers</h5>
     <h3>2000</h3>
    </div>
    <div class="mt-1 col-md-2 text-center">
      <h5>Following</h5>
      <h3>2000</h3>
     </div>
     <div class="mt-1 col-md-2 text-center">
      <h5>Post</h5>
      <h3>2000</h3>
     </div>
     <div class="mt-3 col-md-2 text-center">
      <h5>Engagement</h5>
      <h3>30%</h3>
     </div>
  </div> 
</div>

<div class="row  mb-5 ml-5"  style="color:rgb(34, 34, 34);">
  <h2>List of Campaigns</h2>

</div>
<div class="container p-3">
  <div class="row text-center text-md-left">
    <div class="col-md-2 col-sm-2 imagecol">
      <img src="images/shirt.jpeg" class="img-fluid rounded-circle w-75  " alt="">
    </div>
    <div class="col-md-7 col-sm-4">
      <h4 class="card-title ">Bata Shoes</h4>
      <p class="card-text">This range includes varieties of upper material like genuine leather and smooth leather along with different hues like tan, coffee, black, brown and more.</p>
    </div>
    <div class="col-md-3 col-sm-2 text-right ">
      <a href="viewmore1.html" class="btn btn-dark ">Know More</a><br><br>
      <h6><b>Status:Running</b></h6>
    </div>
  </div> 
</div>
</div><br>
  <div class="container p-3" >
    <div class="row text-center text-md-left">
      <div class="col-md-2 col-sm-2 imagecol">
        <img src="images/watch.jpeg" class="img-fluid rounded-circle w-75  " alt="">
      </div>
      <div class="col-md-7 col-sm-4">
        <h4 class="card-title ">Fossil watches</h4>
        <p class="card-text">Our smart watches and hybrid smartwatches are made with technology that allows you to live life connected without sacrificing style.</p>
      </div>
      <div class="col-md-3 col-sm-2 text-right ">
        <a href="viewmore1.html" class="btn btn-dark ">Know More</a><br><br>
        <h6><b>Status:Running</b></h6>
      </div>
    </div> 
  </div>
  </div><br>
    <div class="container p-3" >
      <div class="row text-center text-md-left">
        <div class="col-md-2 col-sm-2 imagecol">
          <img src="images/shirt.png" class="img-fluid rounded-circle w-75  " alt="">
        </div>
        <div class="col-md-7 col-sm-4">
          <h4 class="card-title ">OOTO shirts</h4>
          <p class="card-text">You can find the shirts, tshirts, sweatshirts with full sleeves, half sleeves, v neck, round. Pique Polo, joggers are also available.</p>
        </div>
        <div class="col-md-3 col-sm-2 text-right ">
          <a href="viewmore1.html" class="btn btn-dark ">Know More</a><br><br>
          <h6><b>Status:Running</b></h6>
        </div>
      </div> 
    </div>
    </div>   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

